@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

.signupText {
    font-family: "Poppins", sans-serif;
}

.form-control {
    color: #495057;
    width: 100%;
    display: block;
    height: 2.375rem;
    padding: 0.375rem 0.75rem;
    background-color: #fff;
    border-radius: 0.25rem;
    border: 1px solid #ced4da;
    background-clip: padding-box;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.form-control:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}